.dashboard-row .dashboard-panel .refresh-time-indicator {
    display: none !important;
}


/* Single Value Decoration Icons */

.single-value:before {
    font-family: "Splunk Icons";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 28px;
}

.severe.single-value:before {
    content: "\2297";
    color: red;
}
.high.single-value:before {
    content: "\ECD4";
    color: gold;
}
.elevated.single-value:before {
    content: "\26A0";
    color: gold;
}
.low.single-value:before {
    content: "\ECD3";
    color: green;
}
.guarded.single-value:before {
    content: "\0049";
    color: green;
}
.icon-only.single-value:before {
    font-size: 65px;
}
.icon-only .single-result {
    display: none;
}

/* Custom Icons */
td.icon {
    text-align: center;
}

td.icon i {
    font-size: 25px;
    text-shadow: 1px 1px #aaa;
}

td.icon .severe {
    color: red;
}

td.icon .elevated {
    color: gold;
}

td.icon .low {
    color: green;
}


/* Row Coloring */
#highlight tr td {
    background-color: #c1ffc3 !important;
}

#highlight tr.range-elevated td {
    background-color: #ffc57a !important;
}

#highlight tr.range-severe td {
    background-color: #d59392 !important;
}

#highlight .table td {
    border-top: 1px solid #fff;
}

#highlight td.range-severe, td.range-elevated {
    font-weight: bold;
}

.icon-inline i {
    font-size: 18px;
    margin-left: 5px;
}

.icon-inline i.icon-alert-circle {
    color: red;
}

.icon-inline i.icon-alert {
    color: gold;
}

.icon-inline i.icon-check {
    color: green;
}

div.dashboard-element .input-timerangepicker {
    float: left;
    padding: 10px 10px 0px 10px;
}
